.recommended{
    /* border:1px solid black;  */
    margin-left: 20vw;
    margin-top: -90vh;  
    flex:1;
    background: #fafafa;
}

.recommended > h1{
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: max(20px,min(32px,4vw));
    color:rgb(34, 33, 33);
}
.recommended__videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 20px;
}