
.search{
    background: #fafafa;
    margin-left: 20vw;
    margin-top: -90vh;  
    flex:1;
    
}

.search__top{
    /* border:1px solid black; */
    padding-top:10px;
    display:flex;
    align-items:center;
    color:gray;
}
.search__icon{
    margin-right:15px;
}
.search__top h4{
    font-weight: 600;
}
.hr{
    border: 0;
    height:1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
} 
.search__videos{
    display: grid;
    /* grid-auto-rows: minmax(18vw,180px); */
    grid-auto-rows: minmax(18vw,180px);
    /*minmax(30vh,200px);*/
    grid-row-gap:20px;
}